* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.decode-container {
  background: linear-gradient(to bottom, #000 36%, #5e5959);
}
#decode-container h2 {
  color: #fff;
}

.input-file {
  cursor: pointer;
}

/* footer */
#footer {
  background: linear-gradient(to bottom, #000 20%, #5e5959);
}
.footer p {
  font-size: small;
  text-decoration: wavy;
  color: #fff;
}

.decode-container,
.encode-container {
  padding-bottom: 12.5vh;
  padding-top: 12.5vh;
}
