* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.decode-container {
  background: linear-gradient(to right, #708993 36%, #715a5a);
}

.input-file {
  cursor: pointer;
}

/* footer */
#footer {
  background: linear-gradient(to left, #708993 36%, #715a5a);
}
.footer p {
  font-size: small;
  text-decoration: wavy;
}

.decode-container,
.encode-container {
  padding-bottom: 12.5vh;
  padding-top: 12.5vh;
}
